@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animate-fade-up {
    animation: fadeUp 0.9s ease-out both;
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
