@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animate-fade-up {
    animation: fadeUp 0.9s ease-out both;
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/*Cart Animation*/
@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease-out both;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes cart-bounce {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  60% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

.animate-cart {
  animation: cart-bounce 0.4s ease-out;
}